:root {
  --base: 4px;
  --main-color: #0fd8bb;
  --yellow: #ffc83e;
  --dark: #2c2c30;
  --border-color: #dadee3;
  --border-radius: 2px;
  --font-family-highlight: 'Raleway', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--dark);
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a {
  color: var(--main-color);
}

.values {
  max-width: 500px;
  width: 100%;
  background: white;
  border-radius: 4px;
  padding: calc(var(--base) * 6);
  margin-bottom: calc(var(--base) * 8);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05);
}

.downloadButton {
  font-weight: bold;
  background: var(--main-color);
  padding: calc(var(--base) * 4) calc(var(--base) * 4);
  border: none;
  color: inherit;
  width: 100%;
  font-size: inherit;
  position: relative;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.downloadButton_loadingicon {
  visibility: hidden;
  position: absolute;
  left: calc(var(--base) * 5);
  animation: spin ease-out 500ms infinite;
}

.downloadButton--loading .downloadButton_loadingicon {
  visibility: visible;
}

.downloadButton[disabled] {
  opacity: 0.3;
}

.data {
  display: block;
  margin-bottom: calc(var(--base) * 4);
}

.data_input {
  display: block;
  margin-top: var(--base);
  font-size: inherit;
  font-family: inherit;

  padding: calc(var(--base) * 2.5);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  width: 100%;
}

.footer {
  background: var(--dark);
  padding: calc(var(--base) * 8);
  color: white;
  width: 100%;
}
.footer_content {
  margin: 0 auto;
  max-width: 900px;
}
.paper {
  position: relative;
  background: white;
  width: 210mm;
  height: 297mm;
}

@media print {
  body {
    padding: 0;
  }
  .values,
  .footer {
    display: none;
  }
  .paper {
    width: 210mm;
    height: 296mm;
    display: block;
  }
  .story {
    display: none;
  }
}

@media print and (color) {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

/* Branding */

.ml-letter {
  position: relative;
  padding-top: 35mm;
  padding-left: 20mm;
  font-size: 12pt;
  line-height: 10pt;
}
.ml-letter_head {
  display: flex;
  flex-direction: column;
  font-size: 8pt;
  margin-bottom: 15mm;
}

.ml-letter_to {
  font-size: 40pt;
  line-height: 40pt;
  font-style: italic;
  color: var(--main-color);
  font-family: var(--font-family-highlight);
}

.ml-letter_reciever {
  font-size: 12pt;
  margin-bottom: 1.5mm;
}

.ml-letter_wrap {
  width: 100mm;
}

.ml-letter_date {
  font-size: 8pt;
  line-height: 12pt;
  margin-bottom: 1.5mm;
}

.ml-letter_subject {
  margin-bottom: 11mm;
}

.ml-letter_content {
  white-space: pre-wrap;
  font-size: 10pt;
  line-height: 16pt;
}

.ml-letter_logo {
  width: 20mm;
  margin-bottom: 2.5mm;
}

.ml-letter_name {
  font-size: 12pt;
  font-weight: bold;
  line-height: 18pt;
}

.ml-letter_companyName {
  font-family: var(--font-family-highlight);
  font-size: 18pt;
  margin-bottom: 11mm;
}

.ml-letter_info {
  position: absolute;
  right: 10mm;
  bottom: 10mm;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  font-size: 8pt;
  line-height: 12pt;
}

/* Story */

.ml-story_logo {
  width: 100px;
}

.story {
  margin: 0 auto;
  width: 1080px;
  height: 1920px;
  background: white;
  padding: calc(var(--base) * 40) calc(var(--base) * 20) calc(var(--base) * 20)
    calc(var(--base) * 20);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.story_text {
  font-size: 120px;
  font-family: var(--font-family-highlight);
}
