:root {
  --base: 4px;
  --main-color: #23e75d;
  --dark: #26292b;
  --border-color: #dadee3;
  --border-radius: 2px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: calc(var(--base) * 8) calc(var(--base) * 8) 0 calc(var(--base) * 8);
  font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  background: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a {
  color: var(--main-color);
}

.values {
  max-width: 500px;
  width: 100%;
  background: white;
  border-radius: 4px;
  padding: calc(var(--base) * 6);
  margin-bottom: calc(var(--base) * 8);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05);
}

.downloadButton {
  font-weight: bold;
  background: var(--main-color);
  padding: calc(var(--base) * 4) calc(var(--base) * 4);
  border: none;
  color: inherit;
  width: 100%;
  font-size: inherit;
  position: relative;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.downloadButton_loadingicon {
  visibility: hidden;
  position: absolute;
  left: calc(var(--base) * 5);
  animation: spin ease-out 500ms infinite;
}

.downloadButton--loading .downloadButton_loadingicon {
  visibility: visible;
}

.downloadButton[disabled] {
  opacity: 0.3;
}

.data {
  display: block;
  margin-bottom: calc(var(--base) * 4);
}

.data_input {
  display: block;
  margin-top: var(--base);
  font-size: inherit;

  padding: calc(var(--base) * 2.5);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  width: 100%;
}

.footer {
  background: var(--dark);
  padding: calc(var(--base) * 8);
  color: white;
  width: 100%;
}
.footer_content {
  margin: 0 auto;
  max-width: 900px;
}
.paper {
  position: relative;
  background: white;
  width: 210mm;
  height: 297mm;
}

.letterhead {
  text-align: right;
  position: absolute;
  top: 32mm;
  width: 75mm;
  right: 10mm;
}

.letterhead_name {
  font-size: 20pt;
  font-weight: bold;
  margin: 0;
}

.letterhead_title {
  font-weight: 300;
  font-size: 18pt;
  margin: 0;
}

.letterhead_info {
  padding: 8mm 0;
}

.letterhead_street {
  display: block;
}

.letterhead_email {
  display: block;
}

.story {
  width: 540px;
  background: white;
  height: 960px;
  padding: calc(var(--base) * 40) calc(var(--base) * 20) calc(var(--base) * 20)
    calc(var(--base) * 20);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.story_text {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}
@media print {
  body {
    padding: 0;
  }
  .values,
  .footer {
    display: none;
  }
  .paper {
    width: 210mm;
    height: auto;
    display: block;
  }
  .story {
    display: none;
  }
}

@media print and (color) {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
